<div class="navbar-fixed">
  <nav class="amber darken-3">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo"><b>ORIEN<span class="blue-grey-text text-darken-4">TEK</span></b></a>
      <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class=""><a><i class="material-icons left">book</i> Manuais</a></li>
        <li><a class="dropdown-trigger" href="" data-target="dropdown-conta"><i
          class="material-icons amber darken-1 left"
          style="padding-left: 14px;padding-right: 14px;clip-path: circle(18px at 50% 50%);">person</i> <span
          class="username-wrapper">Bem vindo</span>
          <i
            class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>

  </nav>
</div>

<ul id="dropdown-conta" class="dropdown-content">
  <li><a class="black-text"><i class="material-icons left">person</i>Perfil</a></li>
  <li><a class="black-text" (click)="logout()"><i
    class="material-icons left">exit_to_app</i>Sair</a></li>
</ul>

<ul class="sidenav" id="mobile-demo">
  <!--TODO Adicionar link para os manuais-->
  <li class=""><a target="_blank"><i class="material-icons left">book</i>Manuais</a>
  <li>
    <div class="divider"></div>
  </li>
  <li *ngIf="user"><a class="subheader">Conta (<span class="username-wrapper">Bem vindo</span>)</a></li>
  <li><a class="black-text">Perfil</a></li>
  <li><a class="black-text">Sair</a></li>
</ul>
