#results-list {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

#results-list .preloader-wrapper {
  align-self: center;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-wrapper > * {
  flex: 1 0 40%;
  margin: 0 1rem;
}
