<nav class="white black-text ">
  <ul>
    <li><a class="black-text disabled">Navegue</a></li>
    <li><a class="black-text" routerLink="./" routerLinkActive="active"> <i class="material-icons left">home</i> Inicio</a></li>
    <li><a class="black-text" routerLink="./eventos"><i class="material-icons left">attach_money</i>Eventos</a>
    </li>
    <li><a class="black-text" routerLink="./cadastro-eventos"><i class="material-icons left">add</i>Adicionar
      evento</a></li>
    <!--<li><a href="lista_evento_gerencia.php" class="black-text"><i
      class="material-icons left">pie_chart</i>Gerenciar eventos</a></li>
    <li><a href="valida_corredor.php" class="black-text"><i class="material-icons left">people</i>Corredores</a>
    </li>-->
  </ul>
</nav>
